<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Favicon links -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Stylesheets -->
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% if logged_in? %>
        <div class="user-info">
          <p class="welcome-message">Welcome, <strong><%= current_user.name %></strong>!</p>
          <div class="user-links">
            <%= link_to "Posts", posts_path, class: "btn btn-primary" %>
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-logout" %>
          </div>
        </div>
      <% else %>
        <div class="auth-buttons">
          <%= link_to "Login", login_path, class: "btn btn-login" %>
          <%= link_to "Register", new_user_path, class: "btn btn-register" %>
        </div>
      <% end %>
    </div>

    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </body>
</html>
